<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
<h1>Restaurant details</h1>

 <div>
    {% for n in data %}
      <!--<div><a href="/another">{{n}}</a></div>-->

      <div>Name:{{n.split('   ')[0]}}</div>
      <br>
      <div>Rating Score:{{n.split('   ')[1]}}</div>
      <br>
      <div>Business hour:{{n.split('   ')[2]}}-{{n.split('   ')[3]}}</div>
      <br>
      <div>Contact information (telephone):{{n.split('   ')[4]}}</div>
      <br>
      <div>Average Cost:{{n.split('   ')[5]}}</div>
      <br>
      <div>Cuisine Type:{{n.split('   ')[6]}}</div>
      <br>
      <div>Shop Type:{{n.split('   ')[7]}}</div>
      <br>
    {% endfor %}

  </div>
  <div>
    <p> Address:</p>
  {% for a in address %}
      <!--<div><a href="/another">{{n}}</a></div>-->
      <div>{{a}}</div>
    {% endfor %}
  </div>
{% if error %}
<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<form method="POST" action="/another?shopid={{shopid}}"> <!-- action="/add"> -->
    <p>
	<input type="submit" name="submit" value="Like it">
    <br>
      Reserve Date:<input type="date" name="rdate">   Time(format:HH24:MI:SS):<input type="text" name="rtime">   Number of people:<input type="text" name="pnum">
        <br><input type="submit" name="submit" value="Reserve it">
    <br>
      <input type="submit" name="submit" value="Rate it">      Rate score:<input type="text" name="score">
    <br>
      <input type="text" name="comments"> <input type="submit" name="submit" value="Write a comment">
    </p>
 </form>


<div>
  <p> Comments:</p>
    {% for c in cmts %}
      <!--<div><a href="/another">{{n}}</a></div>-->
      <div>{{c}}</div>
    {% endfor %}
</div>

<p><a href="/login">Login</a></p>
<p><a href="/createaccount">Create an account</a></p>
<p><a href="/index">Go back to home page</a></p>


<!-- <form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form> -->

</body>


</html>

