<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
<h1>Choose your restuarant!</h1>
hello

 <div>
    {% for n in data %}
      <!--<div><a href="/another">{{n}}</a></div>-->
      <div>{{n}}</div>
    {% endfor %}
  </div>

<form method="POST" action="/another"> <!-- action="/add"> -->
    <p>
	<input type="submit" name="submit" value="Like it">
	<input type="submit" name="submit" value="Reserve it">
    <input type="submit" name="submit" value="Rate it">
    <input type="submit" name="submit" value="Write a comment">
    </p>
 </form>

<div>
    {% for c in cmts %}
      <!--<div><a href="/another">{{n}}</a></div>-->
      <div>{{c}}</div>
    {% endfor %}
</div>

<p><a href="/login">Login</a></p>
<p><a href="/createaccount">Create an account</a></p>


<!-- <form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form> -->

</body>


</html>

