<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Choose your restuarant!</h1>

 <form method="POST" action="/restlist"> <!-- action="/add"> -->
    <p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>

    <p>Filter: <select name="Type">
        <option value="none">Choose Shop Type</option>
        <option value="none">All</option>
        <option value="restaurants">Resturants</option>
        <option value="coffee">Coffee</option>
        <option value="bars">Bars</option>
     </select>
     <select name="Area">
        <option value="none">Choose Area</option>
        <option value="none">All</option>
        <option value="10012">NYU/SOHO</option>
        <option value="10019">Mid town West</option>
        <option value="10025">Upper West Side</option>
        <option value="10027">Morningside Height</option>
        <option value="10036">Theater District</option>
     </select>
     <select name="Take_out">
        <option value="none">Take out?</option>
        <option value="t">yes</option>
        <option value="f">no</option>
     </select>
     <select name="Delivery">
        <option value="none">Delivery?</option>
        <option value="True">yes</option>
        <option value="False">no</option>
     </select>
     <select name="Sort">
        <option value="DESC">Sort rating from high to low</option>
        <option value="none">Sort rating from low to high</option>
     </select>
     <input type="submit" value="Apply!">
    </p>
 </form>

  <!--<div>{{data}}</div>-->

  <div>
    {% for n in data %}
      <!--<div><a href="/another">{{n}}</a></div>-->
      <div><a href="{{data.index(n)}}">{{n}}</a></div>
    {% endfor %}
  </div>

<p><a href="/another">Go to the other page</a></p>
<p><a href="/login">Login</a></p>
<p><a href="/createaccount">Create an account</a></p>


<!-- <form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form> -->

</body>


</html>
