<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Successful!</h1>

  <!--<div>{{data}}</div>-->
  <p>Other shops that you liked:</p>
  <div>
  {% for l in lhist %}
      <!--<div><a href="/another">{{n}}</a></div>-->
      <div>{{l}}</div>
    {% endfor %}
  </div>

 <p>See other people who also reserved this restaurant:</p>
  <div>
  {% for d in data %}
      <!--<div><a href="/another">{{n}}</a></div>-->
      <div>{{d}}</div>
    {% endfor %}
  </div>


<p><a href="/login">Login</a></p>
<p><a href="/createaccount">Create an account</a></p>
  <p><a href="/">Go back to home page</a></p>


<!-- <form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form> -->

</body>


</html>
