<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Successful!</h1>

  <!--<div>{{data}}</div>-->
 <p>See other people who also like this restaurant</p>
  {% for d in data %}
      <!--<div><a href="/another">{{n}}</a></div>-->
      <div>{{d}}</div>
    {% endfor %}
  </div>

<p><a href="/another">Go to the other page</a></p>
<p><a href="/login">Login</a></p>
<p><a href="/createaccount">Create an account</a></p>


<!-- <form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form> -->

</body>


</html>
